.about {
   &-content {
      background-color: $pink;
      border-radius: .5rem;
      padding: 3.25rem 6.688rem 0;
      @include large {
         padding-left: 6.688rem;
         padding-right: 6.688rem;
         padding-bottom: 3.25rem;
      }
      @include medium {
         padding-left: 2.25rem;
         padding-right: 2.25rem;
      }

      img {
         @include medium {
            display: none !important;
         }
      }
   }
}

.about-inner {
   .navbar {
      background-color: #fff;
   }

   .about {
      background-color: $pink;

      &-content {
         background-color: transparent;
         @include calc(padding-top, 3.25rem+4.5rem);

         img {
            @include medium {
               display: none !important;
            }
         }
      }

      .heading__link {
         span {
            margin-left: 4px;
         }
      }
   }

   .appinfo {
      &-boxes {
         padding: 0 13.375rem;
         margin-top: 2.5rem;
         @include xlarge {
            padding:0 5rem;
         }
         @include medium {
            padding: 0 7rem;
         }
         @include small {
            padding: 0;
         }
      }
      
      &-box {
         @include flex;
         align-items: center;
         gap: 8.188rem;

         @include large {
            gap: 5rem;
         }
         @include medium {
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
         }

         img {
            max-width: 298px;
         }

         &__article {
            &__number {
               width: 60px;
               height: 60px;
               background-color: $bg-section;
               border-radius: 50%;
               @include flex-center;

               span {
                  font-size: 2.125rem;
                  line-height: 2.5rem;
                  letter-spacing: 0.0025em;
                  color: $secondary;
                  font-weight: $fw-bold;
               }
            }

            &__title {
               margin: 1rem 0 !important;
            }
         }
      }

      hr {
         margin: 2rem 0;
         background-color: #F5F5f5;
      }
   }
}