.header {
   background: url('../assets/img/header/hero-bg.png') center center/cover no-repeat;
   @include small {
      background-position: left;
   }

   .hero {
      @include flex;
      justify-content: space-between;
      padding-bottom: 3.5rem;
      @include calc(padding-top, 3.5rem + 4.5rem); //addition 72px navbar height

      @include small {
         min-height: 100vh;
      }

      &-article {
         padding: 7.375rem 2.5rem;
         max-width: 619px;
         @include medium {
            padding: 8.25rem 0;
         }
         @include small {
            // padding-top: 6.438rem;
            // padding-bottom: 6.438rem;
         }
         @include small {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0 1rem;
            width: 100%;
            transform: translate(-50%,-50%);
         }

         &__title {
            margin-bottom: 1.5rem;

            span {
               color: $secondary;
               display: inline-block;
            }
         }

         &__text {
            margin-bottom: 1.5rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
         }

         &__button {
            @include flex;
            margin-bottom: .5rem;

            a:not(:last-child) {
               margin-right: 1rem;
            }
         }

         &__info {
            span {
               margin-left: .5rem;
               font-size: 0.875rem;
               line-height: 1.375rem;
               letter-spacing: 0.001em;
            }
         }
      }

      &-image {
         @include large {
            @include flex;
            align-items: center;
         }
         @include medium {
            display: none;
         }

         img {
            @include large {
               width: 100%;
               height: auto;
            }
         }
      }
   }
}