.container {
   padding: 0 3.25rem !important;
   @include extra-xlarge{
      min-width: 1366px;
   }
   @include small {
      padding: 0 1rem !important;
   }
}

.container-small {
   @include calc(padding-left, 3.25rem + 13.375rem);
   @include calc(padding-right, 3.25rem + 13.375rem);
   @include large {
      padding-left: 3.25rem;
      padding-right: 3.25rem;
   }
   @include small {
      padding: 0 1rem !important;
   }
}

.plst-section {
   padding: 4.5rem 0 !important;
}

.heading {
   &--center {
      text-align: center;

      .subtitle {
         max-width: 750px;
         margin: auto;
      }
   }

   &__link {
      color: $secondary !important;
      margin: .5rem 0;
      display: inline-block;

      &:is(:hover,:focus){
         span {
            text-decoration: underline;
         }
      }

      span {
         margin-right: 4px;
      }

      i {
         font-size: 1.25rem;
      }
   }
}

.title {
   font-weight: $fw-bold;
   margin-bottom: .5rem;
}

.subtitle {
   letter-spacing: 0.005em;
}

.shadow {
   background: #C4C4C4;
   box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.08);
}

/* COLORS */
.bg-grey {
   background-color: #fafafa;
}

.blue-lighten {
   background-color: #F2F9FF;
}

.green-lighten {
   background-color: #E7FFFA;
}

.orange-lighten {
   background-color: #FFF0E8;
}

.yellow-lighten {
   background-color: #FFFFE4;
}

.text-color {
   color: $text-color !important;
}

/* PADDINGS */
.pb-24 {
   padding-bottom: 1.5rem;
}

.rotate180 {
   @include transform(rotate(180deg));
   @include transition;
}

/* OWL CAROUSEL */
.owl-carousel .owl-stage {
   padding-left: 0 !important;
}

.isExpanded {
   border: 1px solid #F26F68 !important;
}

.navbar-fixed.scrolled {
   background-color: #fff !important;
   box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.08);
   transition: background-color 200ms linear;
 }

/* ANIMATIONS */
@include keyframes(toTop) {
   to { top: -1.25rem }
}